useDynLib(mta)
importFrom(Rcpp, evalCpp)
importFrom(plyr, ddply)
importFrom(plyr, dlply)
importFrom(stats,as.dist)
importFrom(fastcluster, hclust)
export(prepr, trajcluster, trajstats, gap_statistic, cluster_stability)


# S3method(print, mta)
